%h2
  Отчёт на дату
  = @report[:date]
  по ФО:
  = @report[:fo].name

%table.table.table-bordered
  %thead
    %tr
      %th Наименование субъекта
      %th Наименование больницы
      %th Наименование болезни
      %th Число заболевших
      %th Число выздоровевших
      %th Тенденция
  %tbody
    - @report[:result].each do |line|
      - tendency = line.issued - line.patients
      - tendency_color = if tendency > 0 then 'green' elsif tendency < 0 then 'red' else 'black' end
      %tr
        %td= line.territory_name
        %td= line.hospital_name
        %td= line.disease_name
        %td= line.patients
        %td= line.issued
        %td.tendency{style: "color: #{tendency_color};"}= tendency